* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section>:first-child {
    color: rgb(0, 137, 183);
    text-align: center;
    border-bottom: 1px solid white;
}

.ie::before {
    content: url(img/images/ie.png);
    margin-right: .3em;
}

.ie::after,.chrome::after,.firefox::after {
    content: attr(title);
    color: rgb(255, 81, 0);
}

.chrome::before {
    content: url(img/images/chrome.png);
    margin-right: .3em;
}

.firefox::before {
    content: url(img/images/firefox.png);
    margin-right: .3em;
}

h3::after,h3::before {
    content:attr(title);
    color: yellow;
    background: red;
    padding: 0 5px;
    border-radius: 100%;
}

div {
    display: flex;
    border-bottom: .5px solid rgba(255, 255, 255, 0.661);
    margin: .2em;
}

*{
    box-sizing: border-box;
}

.prueba{
    border: none;
}
.prueba:hover{
    border: 2px lightpink solid;
}

.prueba:focus,.prueba:active {
        border: 2px rgb(255, 0, 38) solid;

}

.prueba2{
    border: none;
    box-sizing: border-box;
}
.prueba2:hover{
    border: 2px lightpink solid;
}

.prueba2:focus, .prueba2:active {
        border: 2px rgb(255, 0, 38) solid;
}
